body{
    background-color: hsl(212, 45%, 89%);
   }
section{
    background-color: hsl(0,0%,100%);
    box-sizing: border-box;
    padding: 25px;
    border-radius: 15px;
    width: 300px;
    align-content: center;
    margin: auto;
    margin-top: 9rem;
    height: 100%;
}
section > img{
    width: 250px;
    height: 250px;
    border-radius: 15px;
}
section > h2{
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    color: hsl(218, 44%, 22%);
    font-weight: bold;
    text-align: center;
}
section > p{
    color: hsl(220,15%,55%);
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Outfit', sans-serif;
}
